.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
  background-image: url("../images/logo_place_header.svg");
  background-size: cover;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../images/header-image.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin: 100px auto;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  width: 648px;
  margin: 0 auto;
  text-align: center;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-top: 70px 0 0 0;
  text-align: center;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  width: 877px;
  height: 887px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.footer {
  color: white;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  /*свойство display:flex; присваивается элементу с классом .footer__colums
  потому что именно он содержит колонки*/
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
}

.footer__column-heanding {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}

/*
div {
  border: solid 1px green;
}
*/
